<!DOCTYPE html>
<html dir="ltr" lang="fr-FR" xmlns:og="http://opengraphprotocol.org/schema/">

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" dir="ltr" lang="fr-FR" xmlns:og="http://opengraphprotocol.org/schema/"> <!--<![endif]-->

<head>

	<title><%= @title_page %></title>
	<%= stylesheet_link_tag "application", :media => "all" %>
	<%= csrf_meta_tags %>
	<meta charset="utf-8" /> 

	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width" />
	<meta name="author" content="Mallotromy - Teddy Lecaillon - Georges Dufour - Thomas Delissen" />

	<!--affichage tablette-->
	<meta name="viewport" content="width=device-width" />

	<!--Ref OpenGraph-->
	<meta property='og:locale' content='fr_FR'/>
	<meta property='og:title' content='Application Jeu Alcool et Gages - Lille France'/>
	<meta property='og:description' content='Mallotromy est une application pour toutes vos soirées entre amis. Gages, jeux, alcool'/>
	<meta property='og:url' content='http://www.mallotromy.com/'/>
	<meta property='og:site_name' content='Mallotromy'/>
	<meta property='og:type' content='website'/>
	<meta property="og:image" content="http://www.mallotromy.com/gallery" />
	<meta property="og:image:type" content="image/jpeg" />

	<!-- Twitter Card -->
	<meta name="twitter:url" content="http://www.mallotromy.com/" />
	<meta name="twitter:title" content="Mallotromy Application Jeu Alcool et Gages - Lille France" />
	<meta name="twitter:description" content="Venez prendre cher avec Mallotromy, votre nouveau partenaire de cuite ! Le jeu officiel de gages sur smartphones, tablettes et PC ! Enjoy ! http://www.mallotromy.com/ Lille · http://www.mallotromy.com/" />
	<meta name="twitter:site" content="@_Mallotromy" />
	<meta name="twitter:card" content="summary" />

	<!--Ref Geo-->
	<meta name="geo.placename" content="Lille, Nord, France" />

	<!--Ref Microsoft-->
	<meta name="application-name" content="Mallotromy Application Jeu Alcool et Gages - Lille France" />
	<meta name="msapplication-window" content="width=device-width;height=device-height" />
	<meta name="msapplication-starturl" content="http://www.mallotromy.com/" />

	<meta name="description" content="<%= @meta_description %>" />
	<meta name="keywords" content="<%= @meta_keyword %>" />	

</head>
<body id="page" class="off-canvas" itemscope itemtype="http://schema.org/WebPage">
	<div class="fixed contain-to-grid">
		<nav id="menu" role="navigation" class="top-bar" itemscope itemtype="http://schema.org/SiteNavigationElement">
			<ul>
				<li class="name">	
					<h1 id="site-title"><a href="http://www.mallotromy.com/" itemprop="url">Mallotromy</a></h1>
				</li>
			</ul>

			<section>	
				<ul id="nav" class="right">
					<li><a href="http://www.mallotromy.com/about" class="main" title="a propos de mallotromy" itemprop="url"> About Mallotromy</a></li>
					<li><a href="http://www.mallotromy.com/rules" class="main" title="les règles du jeu Mallotromy" itemprop="url"> Mallotromy's rules </a></li>
					<li><a href="http://www.mallotromy.com/gallery" class="main" title="La gallerie des cocktails de Mallotromy" itemprop="url"> Mallotromy's gallery</a></li>
				</ul>
			</section>
		</nav>
	</div>

	<header class="row" style="margin:40px auto 0;" itemscope itemtype="http://schema.org/WPHeader">
		<div class="twelve columns">
			<h1 id="site-title"><a href="http://www.mallotromy.com/" itemprop="url">Mallotromy </a></h1>
			<h4 itemprop="description">Jeu d'alcool et de gage pour animer vos soirées entre amis</h4>
		</div>
	</header>

	<div class="row">
		<%= yield %>
	</div>

	<hr>
	<footer class="site-footer row" role="contentinfo" itemscope itemtype="http://schema.org/WPFooter">
	  <h2> Mallotromy et ses partenaires </h2>
	  <ul>
	    <li> <a href="http://www.1001cocktails.com/" itemprop="url"> 1001cocktails </a> </li>
	    <li> <a href="http://www.marmiton.org/recettes/selection_cocktail_et_boisson.aspx" itemprop="url"> Marmiton et ses Coktails</a> </li>
	    <li> <a href="http://www.1001cocktails.com/cocktails/jeux/lister_jeu.php3" itemprop="url"> 1001cocktails et ses jeux d'alcool</a> </li>
	    <li><a href="http://www.mallotromy.com/" itemprop="url">Mallotromy</a></li>
	  </ul>

	</footer>

	<script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-37460322-1']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

	</script>
	<%= javascript_include_tag "application" %>

</body>
</html>